html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.57500000000005px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 23px;
	margin-bottom: -28px;
}

#pu533-4
{
	width: 0.01px;
	margin-left: 23px;
	position: relative;
}

#u533-4
{
	z-index: 16;
	width: 622px;
	min-height: 39px;
	font-size: 32px;
	position: relative;
	margin-right: -10000px;
}

#u920-4
{
	z-index: 94;
	width: 209px;
	min-height: 19px;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 683px;
}

#u921
{
	z-index: 98;
	width: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 894px;
}

#u536
{
	z-index: 24;
	width: 920px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-left: 20px;
	position: relative;
}

#u534-4
{
	z-index: 20;
	width: 478px;
	min-height: 34px;
	margin-left: 23px;
	margin-top: 7px;
	position: relative;
}

#pu830-4
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 22px;
	position: relative;
}

#u830-4
{
	z-index: 31;
	width: 346px;
	min-height: 22px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u834-4
{
	z-index: 51;
	width: 346px;
	min-height: 22px;
	color: #FF0000;
	position: relative;
	margin-right: -10000px;
	left: 411px;
}

#pu823
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 2px;
	position: relative;
}

#u823
{
	z-index: 25;
	width: 340px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: -1px;
}

#u837-4
{
	z-index: 55;
	width: 234px;
	min-height: 24px;
	font-size: 16px;
	color: #7F7F7F;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#u827
{
	z-index: 29;
	width: 340px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 410px;
}

#u841-4
{
	z-index: 71;
	width: 359px;
	min-height: 24px;
	font-size: 16px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u844
{
	z-index: 79;
	width: 105px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 771px;
}

#u846
{
	z-index: 80;
	width: 53px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u848-4
{
	z-index: 81;
	width: 38px;
	min-height: 22px;
	font-size: 19px;
	color: #7F7F7F;
	text-align: center;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -1px;
}

#u850-4
{
	z-index: 85;
	width: 46px;
	min-height: 22px;
	font-size: 19px;
	color: #7F7F7F;
	text-align: center;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 828px;
}

#pu831-4
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 9px;
	position: relative;
}

#u831-4
{
	z-index: 35;
	width: 346px;
	min-height: 22px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u852-4
{
	z-index: 47;
	width: 346px;
	min-height: 22px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 415px;
}

#ppu824
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 1px;
	position: relative;
}

#pu824
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u824
{
	z-index: 26;
	width: 340px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	margin-left: 1px;
	position: relative;
}

#u838-4
{
	z-index: 59;
	width: 315px;
	min-height: 24px;
	font-size: 16px;
	color: #7F7F7F;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#u832-4
{
	z-index: 39;
	width: 346px;
	min-height: 22px;
	color: #000000;
	margin-top: 9px;
	position: relative;
}

#u825
{
	z-index: 27;
	width: 340px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	margin-left: 1px;
	margin-top: 4px;
	position: relative;
}

#u840-4
{
	z-index: 67;
	width: 234px;
	min-height: 24px;
	font-size: 16px;
	color: #7F7F7F;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#u829
{
	z-index: 30;
	width: 340px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 43px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 412px;
}

#u843-4
{
	z-index: 75;
	width: 305px;
	min-height: 24px;
	font-size: 16px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#ppu833-4
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 10px;
	position: relative;
}

#pu833-4
{
	width: 0.01px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u833-4
{
	z-index: 43;
	width: 346px;
	min-height: 22px;
	color: #000000;
	position: relative;
}

#u826
{
	z-index: 28;
	width: 340px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	margin-left: 1px;
	margin-top: 7px;
	position: relative;
}

#u839-4
{
	z-index: 63;
	width: 234px;
	min-height: 24px;
	font-size: 16px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 4px;
}

#u859
{
	z-index: 89;
	width: 165px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 587px;
}

#u860-4
{
	z-index: 90;
	width: 153px;
	min-height: 22px;
	font-size: 32px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 5px;
}

#pu346-4
{
	width: 0.01px;
	left: -19px;
	margin-top: 100px;
	position: relative;
}

#u346-4
{
	z-index: 2;
	width: 183px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u348-4
{
	z-index: 6;
	width: 183px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 604px;
}

#u349-4
{
	z-index: 10;
	width: 183px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 781px;
}

#u892
{
	z-index: 14;
	width: 23px;
	margin-right: -10000px;
	left: 584px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

