html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#ppu314-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#pu314-4
{
	width: 0.01px;
	position: relative;
}

#u314-4
{
	z-index: 22;
	width: 268px;
	min-height: 57px;
	font-size: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u322-3
{
	z-index: 41;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 172px;
}

#u333-10
{
	z-index: 49;
	width: 915px;
	min-height: 132px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 5px;
}

#u884
{
	z-index: 89;
	width: 31px;
	position: relative;
	margin-right: -10000px;
	left: 897px;
}

#ppu1909
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 21px;
	position: relative;
}

#pu1909
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 317px;
}

#u1909
{
	z-index: 27;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 125px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u325-4
{
	z-index: 33;
	width: 160px;
	min-height: 45px;
	font-size: 32px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 61px;
}

#u337-8
{
	z-index: 67;
	width: 277px;
	min-height: 82px;
	font-size: 15px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 1px;
}

#u1501
{
	z-index: 26;
	width: 276px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 629px;
	padding: 10px 6px 13.049999999999955px 3px;
}

#u326-4
{
	z-index: 37;
	width: 160px;
	min-height: 45px;
	font-size: 32px;
	text-align: center;
	margin-left: 56px;
	position: relative;
}

#u338-6
{
	z-index: 75;
	width: 276px;
	min-height: 111px;
	font-size: 15px;
	text-align: center;
	margin-top: 1px;
	position: relative;
}

#u1911
{
	z-index: 28;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 125px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u320-4
{
	z-index: 29;
	width: 160px;
	min-height: 45px;
	font-size: 32px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 52px;
}

#u335-8
{
	z-index: 59;
	width: 279px;
	min-height: 106px;
	font-size: 15px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 2px;
}

#pu327
{
	width: 0.01px;
	margin-left: 165px;
	margin-top: 31px;
	position: relative;
}

#u327
{
	z-index: 44;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 467px;
}

#u327:hover
{
	background-color: #D1D1D1;
	width: 285px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u328-4
{
	z-index: 45;
	width: 103px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 94px;
}

#u339-4
{
	z-index: 81;
	width: 299px;
	min-height: 53px;
	font-size: 37px;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u341-4
{
	z-index: 85;
	width: 163px;
	min-height: 27px;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 74px;
}

#u346-6
{
	z-index: 2;
	width: 183px;
	min-height: 5px;
	margin-bottom: -28px;
	margin-right: -10000px;
	margin-top: 585px;
	left: -19px;
}

#u892
{
	z-index: 20;
	width: 23px;
	margin-bottom: -28px;
	margin-right: -10000px;
	margin-top: 583px;
	left: 415px;
}

#u348-4
{
	z-index: 8;
	width: 101px;
	min-height: 5px;
	margin-bottom: -28px;
	margin-right: -10000px;
	margin-top: 585px;
	left: 495px;
}

#u349-4
{
	z-index: 12;
	width: 143px;
	min-height: 5px;
	margin-bottom: -28px;
	margin-right: -10000px;
	margin-top: 585px;
	left: 625px;
}

#u1557-4
{
	z-index: 16;
	width: 153px;
	min-height: 5px;
	margin-bottom: -28px;
	margin-right: -10000px;
	margin-top: 585px;
	left: 787px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -583px;
}

