html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#ppu350-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 18px;
}

#pu350-4
{
	width: 0.01px;
	margin-left: 3px;
	position: relative;
}

#u350-4
{
	z-index: 22;
	width: 304px;
	min-height: 39px;
	font-size: 32px;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u351-4
{
	z-index: 26;
	width: 478px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 79px;
}

#u531
{
	z-index: 30;
	width: 881px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 40px;
}

#u905
{
	z-index: 62;
	width: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 885px;
}

#u1488
{
	z-index: 64;
	width: 72px;
	position: relative;
	margin-right: -10000px;
}

#u1563-4
{
	z-index: 66;
	width: 250px;
	min-height: 19px;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 648px;
}

#ppu1935
{
	width: 0.01px;
	margin-top: 28px;
	position: relative;
}

#pu1935
{
	width: 0.01px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1935
{
	z-index: 203;
	width: 281px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	margin-left: 14px;
	position: relative;
}

#u1937
{
	z-index: 204;
	width: 269px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 4px;
}

#u1936-4
{
	z-index: 205;
	width: 238px;
	min-height: 57px;
	font-size: 22px;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 18px;
}

#pu634
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 30px;
	position: relative;
}

#u634
{
	z-index: 58;
	width: 48px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	padding-bottom: 7px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u635
{
	z-index: 59;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u637
{
	z-index: 60;
	width: 7px;
	height: 30px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 12px;
}

#u636
{
	z-index: 61;
	width: 30px;
	height: 9px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u638-4
{
	z-index: 42;
	width: 262px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 61px;
}

#u611-4
{
	z-index: 34;
	width: 346px;
	min-height: 22px;
	margin-top: 14px;
	position: relative;
}

#u612
{
	z-index: 31;
	width: 340px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#u626-4
{
	z-index: 50;
	width: 234px;
	min-height: 24px;
	font-size: 16px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

#u619-4
{
	z-index: 38;
	width: 346px;
	min-height: 22px;
	margin-top: 3px;
	position: relative;
}

#u620
{
	z-index: 32;
	width: 340px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-left: 1px;
	margin-top: 3px;
	position: relative;
}

#u625-4
{
	z-index: 54;
	width: 234px;
	min-height: 24px;
	font-size: 16px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

#u640
{
	z-index: 33;
	width: 226px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	margin-left: 117px;
	margin-top: 27px;
	position: relative;
}

#u640:hover
{
	background-color: #DEDEDE;
	width: 226px;
	min-height: 0px;
	margin: 27px 0px 0px 117px;
}

#u641-4
{
	z-index: 46;
	width: 186px;
	min-height: 22px;
	font-size: 32px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 17px;
}

#pu1613-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 392px;
}

#u1613-4
{
	z-index: 70;
	width: 405px;
	min-height: 39px;
	font-size: 32px;
	position: relative;
}

#paccordionu1695
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 22px;
	position: relative;
}

#accordionu1695
{
	z-index: 74;
	width: 528px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1696
{
	z-index: 75;
	width: 528px;
	position: relative;
}

#u1697-4
{
	z-index: 76;
	width: 516px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1;
	font-size: 42px;
	color: #FF0000;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1697-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	width: 516px;
	margin: 0px;
}

#u1697-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	width: 516px;
	margin: 0px;
}

#u1698
{
	z-index: 80;
	width: 526px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u1699-4
{
	z-index: 81;
	width: 340px;
	min-height: 67px;
	line-height: 1.4;
	font-size: 48px;
	color: #000000;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u1700
{
	z-index: 85;
	width: 528px;
	position: relative;
}

#u1703-4
{
	z-index: 86;
	width: 516px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1;
	font-size: 42px;
	color: #000000;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1703-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	width: 516px;
	margin: 0px;
}

#u1703-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	width: 516px;
	margin: 0px;
}

#u1701
{
	z-index: 90;
	width: 526px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u1702-4
{
	z-index: 91;
	width: 340px;
	min-height: 59px;
	line-height: 1.4;
	font-size: 48px;
	color: #000000;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u1715
{
	z-index: 95;
	width: 528px;
	position: relative;
}

#u1716-4
{
	z-index: 96;
	width: 516px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1;
	font-size: 42px;
	color: #000000;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1716-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	width: 516px;
	margin: 0px;
}

#u1716-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	width: 516px;
	margin: 0px;
}

#u1717
{
	z-index: 100;
	width: 526px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	position: relative;
}

#u1718-4
{
	z-index: 101;
	width: 340px;
	min-height: 60px;
	line-height: 1.4;
	font-size: 48px;
	color: #000000;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u1814
{
	z-index: 105;
	width: 528px;
	position: relative;
}

#u1815-4
{
	z-index: 106;
	width: 516px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1;
	font-size: 42px;
	color: #000000;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1815-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	width: 516px;
	margin: 0px;
}

#u1815-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	width: 516px;
	margin: 0px;
}

#u1816
{
	z-index: 110;
	width: 526px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	position: relative;
}

#u1826-4
{
	z-index: 111;
	width: 408px;
	min-height: 47px;
	line-height: 1.4;
	font-size: 48px;
	color: #000000;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u1823
{
	z-index: 115;
	width: 528px;
	position: relative;
}

#u1824-4
{
	z-index: 116;
	width: 516px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1;
	font-size: 42px;
	color: #000000;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1824-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	width: 516px;
	margin: 0px;
}

#u1824-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	width: 516px;
	margin: 0px;
}

#u1697-4.AccordionPanelTabOpen,#u1703-4.AccordionPanelTabOpen,#u1716-4.AccordionPanelTabOpen,#u1815-4.AccordionPanelTabOpen,#u1824-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	width: 516px;
	margin: 0px;
}

#u1697-4.AccordionPanelTabOpen p,#u1703-4.AccordionPanelTabOpen p,#u1716-4.AccordionPanelTabOpen p,#u1815-4.AccordionPanelTabOpen p,#u1824-4.AccordionPanelTabOpen p
{
	color: #FF0000;
	visibility: inherit;
	font-size: 42px;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1825
{
	z-index: 120;
	width: 526px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	position: relative;
}

#u1822-4
{
	z-index: 121;
	width: 316px;
	min-height: 56px;
	line-height: 1.4;
	font-size: 48px;
	color: #000000;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 13px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1877
{
	z-index: 125;
	width: 86px;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 420px;
}

#u1878
{
	z-index: 126;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1880
{
	z-index: 127;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1879-4
{
	z-index: 128;
	width: 35px;
	min-height: 32px;
	font-size: 27px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 7px;
}

#u1881
{
	z-index: 132;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 54px;
}

#u1882
{
	z-index: 133;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1883-4
{
	z-index: 134;
	width: 35px;
	min-height: 32px;
	font-size: 25px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 10px;
}

#u1827
{
	z-index: 138;
	width: 86px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 420px;
}

#u1620
{
	z-index: 139;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1622
{
	z-index: 140;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1621-4
{
	z-index: 141;
	width: 35px;
	min-height: 32px;
	font-size: 27px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 7px;
}

#u1650
{
	z-index: 145;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 54px;
}

#u1652
{
	z-index: 146;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1651-4
{
	z-index: 147;
	width: 35px;
	min-height: 32px;
	font-size: 25px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 10px;
}

#u1828
{
	z-index: 151;
	width: 86px;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 420px;
}

#u1832
{
	z-index: 152;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1834
{
	z-index: 153;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1833-4
{
	z-index: 154;
	width: 35px;
	min-height: 32px;
	font-size: 27px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 7px;
}

#u1829
{
	z-index: 158;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 54px;
}

#u1830
{
	z-index: 159;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1831-4
{
	z-index: 160;
	width: 35px;
	min-height: 32px;
	font-size: 25px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 10px;
}

#u1842
{
	z-index: 164;
	width: 86px;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 420px;
}

#u1846
{
	z-index: 165;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1848
{
	z-index: 166;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1847-4
{
	z-index: 167;
	width: 35px;
	min-height: 32px;
	font-size: 27px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 7px;
}

#u1843
{
	z-index: 171;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 54px;
}

#u1844
{
	z-index: 172;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1845-4
{
	z-index: 173;
	width: 35px;
	min-height: 32px;
	font-size: 25px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 10px;
}

#u1849
{
	z-index: 177;
	width: 86px;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 420px;
}

#u1853
{
	z-index: 178;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1854
{
	z-index: 179;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1855-4
{
	z-index: 180;
	width: 35px;
	min-height: 32px;
	font-size: 27px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 7px;
}

#u1850
{
	z-index: 184;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 54px;
}

#u1852
{
	z-index: 185;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1851-4
{
	z-index: 186;
	width: 35px;
	min-height: 32px;
	font-size: 25px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 10px;
}

#u1945
{
	z-index: 190;
	width: 86px;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
	left: 420px;
}

#u1946
{
	z-index: 191;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1947
{
	z-index: 192;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1948-4
{
	z-index: 193;
	width: 35px;
	min-height: 32px;
	font-size: 27px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 7px;
}

#u1949
{
	z-index: 197;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 54px;
}

#u1951
{
	z-index: 198;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1950-4
{
	z-index: 199;
	width: 35px;
	min-height: 32px;
	font-size: 25px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 10px;
}

#u346-6
{
	z-index: 2;
	width: 183px;
	min-height: 5px;
	margin-bottom: -28px;
	margin-right: -10000px;
	margin-top: 691px;
	left: -19px;
}

#u892
{
	z-index: 20;
	width: 23px;
	margin-bottom: -28px;
	margin-right: -10000px;
	margin-top: 689px;
	left: 415px;
}

#u348-4
{
	z-index: 8;
	width: 101px;
	min-height: 5px;
	margin-bottom: -28px;
	margin-right: -10000px;
	margin-top: 691px;
	left: 495px;
}

#u349-4
{
	z-index: 12;
	width: 143px;
	min-height: 5px;
	margin-bottom: -28px;
	margin-right: -10000px;
	margin-top: 691px;
	left: 625px;
}

#u1557-4
{
	z-index: 16;
	width: 153px;
	min-height: 5px;
	margin-bottom: -28px;
	margin-right: -10000px;
	margin-top: 691px;
	left: 787px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -688px;
}

