@charset "UTF-8";
/* login.css for Virgil Mobile -- Dan Tashman */

body { 
	background: url('../images/footer-bgd.png');
	background-position: center;
	background-attachment: fixed;
	height: 480px;
	width: 100%;
}

.frame {
	width: 100%;
	height: 480px;
	text-align:center;
	line-height: 20px;
	color: #FFF;	
}

.frame a {
	text-decoration: underline;
	color: #000;
	font-weight:bold;
}

h1 { 
	font-family: 'Muli', sans serif;
	color: #000;
	font-size: 36pt;
	text-align: center;
}

h2 { 
	font-family: 'Muli', sans serif;
	font-weight: 300;
	color: #000;
	font-size: 16pt;
}

h3 {
	font-family: 'Muli', sans serif;
	font-weight: 300;
	color: #666;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 24px;
	font-size: 18pt;

}

#loginframe {
	width: 100%;
	height: 200px;
	margin: 25px 8px 25px 8px;

}

#titlebox {
	width: 100%;
	margin-bottom: 55px;
	margin-top: 75px;}

.input-box {
	height: 40px;
	width: 200px;
	width: 80%;
	margin-bottom: 20px;
	line-height: 24px;
	font-family: 'Oxygen', sans serif;
	font-weight: 300;
	font-size: 20px;
	border: solid 3px #2faf2f;
	margin-right: 20px;

}

.input-button {
	   background-color:#2faf2f;
	   border: 1px solid #2faf2f;
       display:inline-block;
        color:#000;
        font-family: 'Lato', sans serif;
        font-size:28px;
        padding: 8px 28px;
		margin-top: 10px;
}

.input-button:hover {
	    background-color: #000;
       border:1px solid #000;   
	   color: #FFF;   
}

#alertbox {
	width: 100%;
	padding-left: 10px;	
}



