@charset "UTF-8";
/* CSS Document for Virgil Mobile: Video by Dan Tashman */

.videoframe {
	margin: 20px auto;
	display: block;
	height: 200px;
	background-color: #FFF;
	width: 300px;
	border: 5px solid #8a26a2;
}
.videoframe iframe {
	position: relative;
	top: 5px;	
}

