@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.6px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: 1px;
	margin-bottom: 4px;
}

#u1133
{
	z-index: 2;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	left: -1px;
	position: relative;
}

#u1133:hover
{
	background-color: #DBDBDB;
	width: 379px;
	min-height: 0px;
	margin: 0px;
}

#u1145
{
	z-index: 32;
	width: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u1442
{
	z-index: 42;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 14px;
}

#u1139-4
{
	z-index: 8;
	width: 241px;
	min-height: 54px;
	font-size: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 113px;
}

#u1134
{
	z-index: 3;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 13px;
	left: -1px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1146
{
	z-index: 33;
	width: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
}

#u1445
{
	z-index: 44;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 14px;
}

#u1140-4
{
	z-index: 16;
	width: 260px;
	min-height: 54px;
	font-size: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 113px;
}

#u1135
{
	z-index: 4;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1147
{
	z-index: 34;
	width: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u1448
{
	z-index: 46;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 14px;
}

#u1141-4
{
	z-index: 20;
	width: 260px;
	min-height: 44px;
	font-size: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 113px;
}

#u1136
{
	z-index: 5;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 11px;
	left: -1px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1148
{
	z-index: 35;
	width: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u1451
{
	z-index: 48;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 14px;
}

#u1151-4
{
	z-index: 12;
	width: 241px;
	min-height: 54px;
	font-size: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 113px;
}

#u1137
{
	z-index: 6;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	left: -1px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1134:hover,#u1136:hover,#u1137:hover
{
	background-color: #DBDBDB;
	width: 379px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u1149
{
	z-index: 36;
	width: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u1454
{
	z-index: 50;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 14px;
}

#u1152-4
{
	z-index: 28;
	width: 260px;
	min-height: 54px;
	font-size: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 113px;
}

#u1138
{
	z-index: 7;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1135:hover,#u1138:hover
{
	background-color: #DBDBDB;
	width: 379px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u1150
{
	z-index: 37;
	width: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#u1457
{
	z-index: 52;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 14px;
}

#u1144-4
{
	z-index: 24;
	width: 260px;
	min-height: 54px;
	font-size: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 113px;
}

#u1209-4
{
	z-index: 38;
	width: 64px;
	min-height: 41px;
	margin-left: 155px;
	margin-top: 26px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

