html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 23px;
	margin-bottom: -28px;
}

#u186-4
{
	z-index: 18;
	width: 537px;
	min-height: 55px;
	font-size: 47px;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	margin-left: 212px;
	position: relative;
}

#u189-4
{
	z-index: 22;
	width: 544px;
	font-size: 27px;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	margin-left: 208px;
	margin-top: 10px;
	position: relative;
}

#u191
{
	z-index: 26;
	width: 594px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 74px;
	margin-left: 180px;
	margin-top: 23px;
	position: relative;
}

#u194-4
{
	z-index: 27;
	width: 205px;
	min-height: 45px;
	font-size: 35px;
	text-align: center;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 195px;
}

#pu195
{
	width: 0.01px;
	margin-left: 183px;
	margin-top: 30px;
	position: relative;
}

#u195
{
	z-index: 31;
	width: 276px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u197-4
{
	z-index: 36;
	width: 205px;
	min-height: 45px;
	font-size: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 30px;
}

#u1223
{
	z-index: 35;
	width: 276px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 316px;
}

#u345-4
{
	z-index: 40;
	width: 152px;
	min-height: 45px;
	font-size: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 62px;
}

#pu1230
{
	width: 0.01px;
	margin-left: 187px;
	margin-top: 32px;
	position: relative;
}

#u1230
{
	z-index: 32;
	width: 214px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1235-4
{
	z-index: 44;
	width: 146px;
	min-height: 27px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u1234
{
	z-index: 33;
	width: 214px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 238px;
}

#u1236-4
{
	z-index: 48;
	width: 146px;
	min-height: 27px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 10px;
}

#u1237
{
	z-index: 34;
	width: 118px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 471px;
}

#u1238-4
{
	z-index: 52;
	width: 70px;
	min-height: 27px;
	color: #000000;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 17px;
}

#pu346-6
{
	width: 0.01px;
	left: -19px;
	margin-top: 72px;
	position: relative;
}

#u346-6
{
	z-index: 2;
	width: 183px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u348-4
{
	z-index: 8;
	width: 183px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 604px;
}

#u349-4
{
	z-index: 12;
	width: 183px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 781px;
}

#u892
{
	z-index: 16;
	width: 23px;
	margin-right: -10000px;
	left: 584px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

