html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 12px;
	margin-bottom: -28px;
}

#u884
{
	z-index: 71;
	width: 31px;
	margin-left: 917px;
	position: relative;
}

#pu314-4
{
	width: 0.01px;
	margin-left: 20px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u314-4
{
	z-index: 18;
	width: 268px;
	min-height: 57px;
	font-size: 32px;
	position: relative;
	margin-right: -10000px;
}

#u322-3
{
	z-index: 37;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 172px;
}

#u333-6
{
	z-index: 45;
	width: 911px;
	min-height: 132px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 5px;
}

#ppu318
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 30px;
	position: relative;
}

#pu318
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 317px;
}

#u318
{
	z-index: 23;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 162px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u325-4
{
	z-index: 29;
	width: 160px;
	min-height: 45px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 64px;
}

#u337-4
{
	z-index: 55;
	width: 250px;
	min-height: 132px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 18px;
}

#u316
{
	z-index: 22;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 162px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u320-4
{
	z-index: 25;
	width: 160px;
	min-height: 45px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 53px;
}

#u319
{
	z-index: 24;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 162px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 629px;
}

#u326-4
{
	z-index: 33;
	width: 160px;
	min-height: 45px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 60px;
}

#u335-4
{
	z-index: 51;
	width: 250px;
	min-height: 132px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 15px;
}

#u338-4
{
	z-index: 59;
	width: 243px;
	min-height: 132px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 650px;
}

#pu327
{
	width: 0.01px;
	margin-left: 185px;
	margin-top: 38px;
	position: relative;
}

#u327
{
	z-index: 40;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 19px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 467px;
}

#u328-4
{
	z-index: 41;
	width: 103px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 94px;
}

#u339-4
{
	z-index: 63;
	width: 299px;
	min-height: 53px;
	font-size: 37px;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u341-4
{
	z-index: 67;
	width: 163px;
	min-height: 27px;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 74px;
}

#pu346-6
{
	width: 0.01px;
	left: -19px;
	margin-top: 72px;
	position: relative;
}

#u346-6
{
	z-index: 2;
	width: 183px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u348-4
{
	z-index: 8;
	width: 183px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 604px;
}

#u349-4
{
	z-index: 12;
	width: 183px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 781px;
}

#u892
{
	z-index: 16;
	width: 23px;
	margin-right: -10000px;
	left: 584px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

