@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 437px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 133px;
}

#u1166-3
{
	z-index: 3;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: -347px;
}

#pu1165
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 21px;
}

#u1165
{
	z-index: 2;
	width: 328px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 107px;
	position: relative;
}

#u1167-4
{
	z-index: 6;
	width: 264px;
	min-height: 68px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 33px;
}

#u1168-4
{
	z-index: 10;
	width: 215px;
	min-height: 68px;
	text-align: center;
	margin-left: 66px;
	margin-top: 32px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

