@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.8px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: 1px;
	margin-bottom: 5px;
}

#pu1115
{
	width: 0.01px;
	position: relative;
}

#u1115
{
	z-index: 2;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u1115:hover
{
	background-color: #DBDBDB;
	width: 379px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1122
{
	z-index: 32;
	width: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u1460
{
	z-index: 42;
	width: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u1121-4
{
	z-index: 8;
	width: 136px;
	min-height: 54px;
	font-size: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 114px;
}

#u1116
{
	z-index: 3;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	position: relative;
	top: -5px;
	margin-bottom: -5px;
}

#u1116:hover
{
	background-color: #DBDBDB;
	width: 379px;
	min-height: 0px;
	margin: 0px 0px -5px;
}

#u1124
{
	z-index: 33;
	width: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
}

#u1463
{
	z-index: 44;
	width: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 15px;
}

#u1123-4
{
	z-index: 12;
	width: 260px;
	min-height: 54px;
	font-size: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 113px;
}

#u1117
{
	z-index: 4;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	top: -1px;
	margin-bottom: -1px;
}

#u1126
{
	z-index: 34;
	width: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u1466
{
	z-index: 46;
	width: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u1125-4
{
	z-index: 16;
	width: 260px;
	min-height: 54px;
	font-size: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 113px;
}

#u1118
{
	z-index: 5;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 11px;
	position: relative;
	top: -2px;
	margin-bottom: -2px;
}

#u1127
{
	z-index: 35;
	width: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u1469
{
	z-index: 48;
	width: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u1128-4
{
	z-index: 20;
	width: 260px;
	min-height: 54px;
	font-size: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 113px;
}

#u1119
{
	z-index: 6;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 11px;
	position: relative;
	top: -2px;
	margin-bottom: -2px;
}

#u1118:hover,#u1119:hover
{
	background-color: #DBDBDB;
	width: 379px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u1129
{
	z-index: 36;
	width: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u1472
{
	z-index: 50;
	width: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 15px;
}

#u1130-4
{
	z-index: 24;
	width: 260px;
	min-height: 54px;
	font-size: 52px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 112px;
}

#u1120
{
	z-index: 7;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	position: relative;
	top: -1px;
	margin-bottom: -1px;
}

#u1117:hover,#u1120:hover
{
	background-color: #DBDBDB;
	width: 379px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u1131
{
	z-index: 37;
	width: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#u1478
{
	z-index: 52;
	width: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 16px;
}

#u1132-4
{
	z-index: 28;
	width: 260px;
	min-height: 54px;
	font-size: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 113px;
}

#u1207-4
{
	z-index: 38;
	width: 64px;
	min-height: 41px;
	margin-left: 151px;
	margin-top: 25px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

