@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 334px;
	min-height: 486.79999999999995px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 70px 23px 13.200000000000045px;
}

#u1169
{
	z-index: 2;
	width: 328px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 107px;
	left: -1px;
	position: relative;
}

#u1170-4
{
	z-index: 3;
	width: 264px;
	min-height: 68px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 33px;
}

#u1171-6
{
	z-index: 7;
	width: 215px;
	min-height: 68px;
	text-align: center;
	margin-left: 65px;
	margin-top: 32px;
	position: relative;
}

#u1212-4
{
	z-index: 13;
	width: 64px;
	min-height: 41px;
	margin-left: 140px;
	margin-top: 65px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

