@charset "UTF-8";
/* CSS stylesheet for Virgil by Dan Tashman */

a {
	text-decoration: none;
	color: #000;
}

h3 {
	font-family: 'Lato', sans serif;
	font-size: 18px;
	font-weight: 200;
	line-height: 20px;	
	margin-left: 233px;
	margin-top: -30px;
}



.option-box {
	width: 400px;
	background-color: #FFF;
	height: 150px;
	border: 4px solid #000;
	
}
.option-box h2 {
	position: relative;
	font-size: 28px;
	margin-left: 215px;
	margin-top: -125px;
	
}

.inner-option-box {
	position: relative;
	width: 144px;
	height: 114px;
	margin-top: 15px;
	margin-left: 15px;
	border: 3px solid #000;
}

.edit-button {
	font-size:20px;
	line-height: 35px;
	font-family: 'Lato', sans serif;
	color: #000;
	text-align: center;
	position: relative;
	height: 35px;
	width: 180px;
	background-color: grey;	
	margin-left: 200px;
	margin-top: 40px;
}



