@charset "UTF-8";
/* CSS Stylesheet desktop/index  for Virgil by Dan Tashman*/

body  {
	background-color: #FFF;
	text-align: center;
	color: #000;

}
a {
	text-decoration: none;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 60px;
}

h2 {
	font-family: 'Muli', sans-serif;
	font-size: 36pt;
	line-height: 36px;
}

.container {
	margin: 0px,  auto;
}

#titlebox {
	margin-bottom: -20px;
}

#header {
	position: relative;
	width: 100%;
}

#videobox {
	width: 768px;
	height: 432px;
	margin: 0 auto;
	border: 18px solid #2faf2f;
	margin-bottom: 30px;

}
 #videobox iframe {
	 position: relative;
	 width: 736px;
	 height: 396px;
	 top: 16px;
	 
 }

#buttonbox {
	margin: 0px, auto; 
	display: inline-block;
	
}

#buttonbox h2 {
	padding-top: 18px;
}


#Learn_More_box {
	height: 100px;
	width: 380px;
	border: 4px solid #ed1a4d;
	margin-left: 1px;
}

#Sign_Up_box {
	height: 100px;
	width: 380px;
	border: 4px solid #7186c3;
	margin-left: 419px;
	margin-top: -107px;

}

#loginbox {
	width: 800px;
	height: 100px;	
	margin: 20px auto;
}

#redbox {
	position: relative;
	height: 80px;
	width: 360px;
	margin-left: 10px;
	margin-top: -30px;
	background-color: #ed1a4d;
	color: #FFF;
	text-decoration: none;
	-webkit-transition: all .5s linear 0s;
	-moz-transition: all .5s linear 0s;
	-ms-transition: all .5s linear 0s;
	-o-transition: all .5s linear 0s;
	transition: all .5s linear 0s;	
}

#redbox:hover {
	background-color: #d27c00;
}

#bluebox {
	position: relative;
	height: 80px;
	width: 360px;
	margin-left: 10px;
	margin-top: -30px;
	background-color: #7186c3;
	color: #FFF;
	text-decoration: none;
	-webkit-transition: all .5s linear 0s;
	-moz-transition: all .5s linear 0s;
	-ms-transition: all .5s linear 0s;
	-o-transition: all .5s linear 0s;
	transition: all .5s linear 0s;	
}

#bluebox:hover {
	background-color: #a069a6;
}



 .formbox {
	 float: left;
	 font-family: 'Muli', sans serif;
	 display: inline-block;
	 width: 300px;
	 height: 50px;
	 color: #333;
	 font-size: 18px;
	 font-align: left;
	 margin: 10px;
	 border: 4px solid #2faf2f;
 }
 
 .button {
	height: 60px;
	width: 130px;
	background-color: #2faf2f;
	font-family: 'Muli', sans-serif;
	font-size: 22px;
	border: 0;
	color: #FFF;
	text-align: center;
	margin-top: 10px;
	-webkit-transition: all .5s linear 0s;
	-moz-transition: all .5s linear 0s;
	-ms-transition: all .5s linear 0s;
	-o-transition: all .5s linear 0s;
	transition: all .5s linear 0s;	
 }
 
 
 
#footer {
	margin: 0px auto;
	display: inline-block;
	text-align: left;
	width: 100%;
	background-color: #2faf2f;
	height: 35px;
	color: #FFF;
	font-family: 'Oxygen', sans serif;
	margin-top: 100px;
}
#footer ul {
margin-top: -16px; 
}

#footer li {
	position: relative;
	display: inline-block;
	list-style-type:none;
}

#footer h3 {
	font-family: 'Lato', sans serif;
	font-size: 16px;
	line-height: 35px;
	color: #666;
	padding-left: 120px;
	}

#footer a {
	color: #FFF;
}

#footer a:hover {
	text-decoration: underline;
	color: #FFF;
}

#footer h4 {
	font-family: 'Lato', sans serif;
	font-size: 14px;
	line-height: 35px;
	color: #666	;
	padding-left: 160px;
	margin-top: -5px;
}

.button:hover {
	background-color: #9966CC;
}
