@charset "UTF-8";
/* CSS Styleheet for Virgil: Desktop "Take Me Home''page by Dan Tashman */

body { 
	background: url('../images/footer-bgd.png');
	display: block;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	color: #000;
}

a {
	text-decoration: none;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 60px;
}

h2 {
	font-family: 'Muli', sans-serif;
	font-size: 36pt;
	line-height: 36px;
	font-weight:300;
}

h3 {
	font-family: 'Muli', sans-serif;
	font-size: 19pt;
	top: 85px;
	font-weight:300;
}

h4 {
	font-family: 'Muli', sans-serif;
	font-size: 16pt;
	line-height: 18px;
	top: 85px;
	font-weight:200;
}

h5 { 
	font-family: 'Muli', sans-serif;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
	padding-top: 6px;
	font-weight:200;

}



.formbox-wrapper {
	position: relative;
	width: 700px;
	height: 50px;
	margin-left: 200px;
	text-align: center;

	
}

.formbox-wrapper h3 {
	margin-top: 15px;

}

.formbox-wrapper h4 {
	float: left;
	padding-top: 8px;
}


 .formbox {
	 float: left;
	 font-family: 'Muli', sans serif;
	 display: inline-block;
	 width: 520px;
	 height: 50px;
	 color: #333;
	 font-size: 22px;
	 font-align: left;
	 margin: 10px;
	 padding-left: 5px;
	 border: 4px solid  #7186c3;
 }
 
  .formbox:active {
	color: #000;
	font-weight: 600;
  }
  
#imagearea {
	margin-left: 30px;
}
  
  #imagearea h3 {
		text-align: left;  
		margin-top: 10px;
		font-size: 14pt;
  }
  
    #imagearea h4 {
		text-align: left;  
		margin-top: 10px;
		font-size: 11pt;
  }
  
  .button {
	 position: relative;
	height: 60px;
	width: 280px;
	background-color:  #7186c3;
	font-family: 'Muli', sans-serif;
	font-size: 22px;
	border: 0;
	color: #FFF;
	text-align: center;
	-webkit-transition: all .5s linear 0s;
	-moz-transition: all .5s linear 0s;
	-ms-transition: all .5s linear 0s;
	-o-transition: all .5s linear 0s;
	transition: all .5s linear 0s;	
 }
 
   .button:hover {
	   background-color: #000;
   }

 
 .buttonbox {	
 	position: relative;
 	display: inline-block;
	 }
 
  .buttonbox  .button {	
 	margin: 20px;
 }
 .clear {
	clear: both; 
 }
 
 #previewbox {
	 position: relative;
	 width: 600px;
	 height: 300px;
	 background-color: #FFF;
	 border: 8px solid  #7186c3;
	 margin-top: 20px;
	 margin-left: 50%;
	 left: -300px;
	 margin-bottom: 50px;
	 
 }
 
 .directionsbox {
	position: relative;
	margin: 20px  auto;
	width: 940px;
	height: 340px;
	display: block;
	border: 3px solid #7186c3;
	background-color: #FFF;

}

.directionsbox h3 {
	text-align: center;
	margin-left: 45%;
	font-size: 22pt;
	line-height: 12pt;
	top: 10px;

	 }
	 
 .directionsbox h4 {
	margin-left: 4%;
	margin-right: 4%;
	font-size: 18pt;
	line-height: 24pt;
	margin-top: -10px;
	 }
