@charset "UTF-8";

/*
   CSS Toggle Switch originally coded by Andy McFee
*/

body{
  font-family: 'Lato', sans serif;
  color: white;
}


.slider-toggle {
  display: none;
  visibility: none; }

.slider-button,
.slider-content,
.slider {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

.slider-viewport {
  display: block;
  height: 40px;
  overflow: hidden;
  width: 250px;
  position: relative;
  margin: 30px auto 0;
  cursor: pointer; }

.slider {
  height: 500%;
  position: relative;
  width: 100%; }

.slider-button {
  background-color: #000; 
/* main slider button color */

  background-size: 100%;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  display: block;
  top: 0;
  height: 40px;
  width: 250px;
  opacity: 0.7;
  cursor: pointer; }

.slider-content {
  background-color: green;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 100%;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  top: 10px; }
  
  
  .slider-content span {
    height: 100%;
    line-height: 40px;
    margin: 0 20px;
    float: left; }

.left {
  background-color: green;
  /* ON button color */
  
  background-size: 50%;
}

.right {
  background-color: yellow;
  color: #000;
    background-size: 110%;
    /* OFF button color */
}

  .right span {
    float: right; }

.slider-toggle + .slider-viewport > .slider {
  left: 0px; }

.slider-toggle + .slider-viewport .slider-button {
  left: 150px; }

.slider-toggle + .slider-viewport .slider-content {
  width: 125px; }

.slider-toggle + .slider-viewport .left {
  margin-left: 0; }

.slider-toggle:checked + .slider-viewport > .slider {
  left: -1250px; }

.slider-toggle:checked + .slider-viewport .slider-button {
  left: 100px; }

.slider-toggle:checked + .slider-viewport .left {
  margin-left: 125px; }

.look .slider-toggle {
  display: block;
  margin: 30px auto 0; }
.look .slider-viewport {
  margin-top: 10px;
  overflow: visible; }
.look .slider-content {
  opacity: .9; }


/* Checkout my related blog post: 
http://andymcfee.com/2012/05/css3-toggle-switch-a-ui-alternative-to-checkboxes/*/
