html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.7750000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -11px;
	margin-bottom: -28px;
}

#pu927-4
{
	width: 0.01px;
	margin-left: 21px;
	position: relative;
}

#u927-4
{
	z-index: 18;
	width: 304px;
	min-height: 39px;
	font-size: 32px;
	position: relative;
	margin-right: -10000px;
}

#u930-4
{
	z-index: 27;
	width: 209px;
	min-height: 19px;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 675px;
}

#u931
{
	z-index: 31;
	width: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 880px;
}

#u929
{
	z-index: 26;
	width: 920px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-left: 18px;
	position: relative;
}

#u928-4
{
	z-index: 22;
	width: 478px;
	min-height: 34px;
	margin-left: 21px;
	margin-top: 7px;
	position: relative;
}

#u1243-4
{
	z-index: 33;
	width: 220px;
	min-height: 32px;
	font-size: 24px;
	margin-left: 62px;
	margin-top: 25px;
	position: relative;
}

#u1245-4
{
	z-index: 65;
	width: 825px;
	min-height: 69px;
	font-size: 18px;
	margin-left: 62px;
	position: relative;
}

#u1247-4
{
	z-index: 37;
	width: 220px;
	min-height: 32px;
	font-size: 24px;
	margin-left: 62px;
	margin-top: 24px;
	position: relative;
}

#u1246-6
{
	z-index: 69;
	width: 695px;
	min-height: 44px;
	font-size: 18px;
	margin-left: 62px;
	position: relative;
}

#u1248-4
{
	z-index: 41;
	width: 491px;
	min-height: 32px;
	font-size: 24px;
	margin-left: 62px;
	margin-top: 19px;
	position: relative;
}

#u1249-4
{
	z-index: 75;
	width: 773px;
	min-height: 42px;
	font-size: 18px;
	margin-left: 62px;
	margin-top: 1px;
	position: relative;
}

#u1250-4
{
	z-index: 45;
	width: 410px;
	min-height: 32px;
	margin-left: 62px;
	margin-top: 31px;
	position: relative;
}

#u1251-6
{
	z-index: 79;
	width: 817px;
	min-height: 69px;
	font-size: 18px;
	margin-left: 62px;
	margin-top: 2px;
	position: relative;
}

#u1252-4
{
	z-index: 49;
	width: 410px;
	min-height: 32px;
	font-size: 24px;
	margin-left: 62px;
	margin-top: 26px;
	position: relative;
}

#u1253-4
{
	z-index: 85;
	width: 865px;
	min-height: 26px;
	font-size: 18px;
	margin-left: 62px;
	margin-top: 1px;
	position: relative;
}

#u1254-4
{
	z-index: 53;
	width: 410px;
	min-height: 32px;
	font-size: 24px;
	margin-left: 62px;
	margin-top: 20px;
	position: relative;
}

#u1255-4
{
	z-index: 89;
	width: 851px;
	min-height: 26px;
	font-size: 18px;
	margin-left: 62px;
	margin-top: 2px;
	position: relative;
}

#u1258-4
{
	z-index: 57;
	width: 410px;
	min-height: 32px;
	font-size: 24px;
	margin-left: 62px;
	margin-top: 18px;
	position: relative;
}

#u1259-4
{
	z-index: 93;
	width: 798px;
	min-height: 26px;
	font-size: 18px;
	margin-left: 62px;
	margin-top: 1px;
	position: relative;
}

#u1262-4
{
	z-index: 61;
	width: 460px;
	min-height: 32px;
	font-size: 24px;
	margin-left: 62px;
	margin-top: 19px;
	position: relative;
}

#u1263-6
{
	z-index: 97;
	width: 798px;
	min-height: 26px;
	font-size: 18px;
	margin-left: 62px;
	margin-top: 5px;
	position: relative;
}

#pu346-6
{
	width: 0.01px;
	left: -19px;
	margin-top: 71px;
	position: relative;
}

#u346-6
{
	z-index: 2;
	width: 183px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u348-4
{
	z-index: 8;
	width: 183px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 604px;
}

#u349-4
{
	z-index: 12;
	width: 183px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 781px;
}

#u892
{
	z-index: 16;
	width: 23px;
	margin-right: -10000px;
	left: 584px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

