@charset "UTF-8";
/* CSS Document */
@charset "UTF-8";

body {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.frame {
	width: 100%;
	height: 480px;
	color: #FFF;
	font-family: 'Architects Daughter', cursive;
	
}

.frame a {
	text-decoration:none;
	color: #FFF;	
}

h1 { 
	visibility:hidden; 
	margin-top: -2px;
	font-size: 1px;
}

h2 { 
	margin-top: -130px;
	padding-left: 152px;
	font-size: 60px;
}

h3 {
	font-size: 28px;
}


.placebar {
	width: 100%;
	height: 150px;	;	
	background-color:#1f0066;;
	border: solid 3px #FFF;
	
}
.placebar:hover {background-color: #000;}


.iconframe {
	position: relative;
	height: 117px;
	width: 117px;
	border: 4px solid #FFF;
	margin: 10px 0px 10px 10px;
}


.phonesprite {
	position: relative;
	margin-left: 50%;
	margin-top: 10px;
	left: -48px;
	background: url('images/sprite.png') no-repeat -200px -102px;
	width: 98px;
	height: 98px;
}

.virgil-logo {
	background: url('images/sprite.png') no-repeat -300px -60px;
	width: 99px;
	height: 79px;

}
#footer { 
	background: url('images/footer-bgd.png');
	display: block;
	background-position: center;
	background-attachment: fixed;
	background-color: #FFF;
	height: 200px;
	width: 100%;
}

#footer .virgil-logo {
	position: relative;
	margin-left: 50%;
	left: -36px;
	top: 10px;


}


